/* Tailwind */

/* Typography */
@font-face{
  font-family: TypoGrosteskDemo;
  src: url(../fonts/TypoGroteskDemo.otf) format('opentype');
  font-weight:400;
  font-style:normal
}

@font-face{
  font-family: TypoGrosteskBoldDemo;
  src: url(../fonts/TypoGroteskBoldDemo.otf) format('opentype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: TypoGrosteskDemo;
}

/* Helpers */
.color-theme {
  color: #5230A2;
}

.bg-theme {
  background: #5230A2;
}

.bg-theme-dark {
  background: #200A52;
}

.color-white {
  color: #ffffff;
}

.color-green {
  color: #44E0B7;
}

/* Components */
.primary-btn {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  background: #5230A2;
  border-radius: 27px;
  transition: all 0.3s ease-in-out;
  padding: 8px 32px;
  text-decoration: none;
  box-shadow: none;
}

.primary-btn:hover,
.primary-btn:focus {
  outline: none;
  opacity: 0.9;
}

.green-btn {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  background: #44E0B7;
  border-radius: 27px;
  transition: all 0.3s ease-in-out;
  padding: 8px 32px;
}

.green-btn:hover,
.green-btn:focus {
  outline: none;
  opacity: 0.9;
}

.input-container label {
  color: #5230A2;
}

.input-container > div {
  background: #ffffff;
}

.input-container > div span:last-child {
  color: #A7B4C0;
}

.input-subscribe {
  background: #140539;
  height: 52px;
  max-width: 372px;
  width: 100%;
}

.input-subscribe input {
  height: 52px;
  color: #ffffff;
  background: #140539;
}


/* Header Section */
.header-section nav a {
  color: #6948B7;
}

.header-section__quote a {
  font-family: TypoGrosteskBoldDemo;
}

/* Hero Section */
.hero-section__content h5 {
  color: #6948B7;
}

.hero-section__content h1 span:last-child {
  color: #44E0B7;
}

.hero-motorcycle-img {
  bottom: 18%;
  left: 0;
}

.hero-car-img {
  max-width: 80%;
}

.hero-vector-46 {
  top: 77%;
  width: 68%;
}

.hero-vector-49 {
  top: 84%;
  right: 0;
}

.hero-vector-38 {
  bottom: 350px;
  left: 20%;
  width: 100px;
}

.hero-vector-40 {
  bottom: 42%;
  left: 20%;
}
.hero-vector-50 {
  bottom: 80%;
  left: 18%;
}

.hero-vector-37 {
  bottom: 65%;
  right: 18%;
}
.hero-vector-39 {
  bottom: 330px;
  right: 8%;
  width: 100px;
}

@media only screen and (min-width: 768px) {
  .hero-car-img {
    right: 10%;
    top: 56%;
    max-width: 100%;
  }

  .hero-vector-46 {
    top: 84%;
    width: 68%;
  }

  .hero-vector-38 {
    bottom: 60%;
    left: 0;
    width: auto;
  }

  .hero-vector-39 {
    bottom: 44%;
    right: 7%;
  }
}

/* How we work section */
.how-we-work-section {
  background: #F9F8FB;
}

.how-we-work__step h5 {
  color: #200A52;
}

.how-we-work__step p {
  color:#898A8D;
}

/* Calculator Section */
.saving-calculator-cpt {
  background: #F9F8FB;
}

.loan-amount-slider > p,
.loan-term-slider > p {
  color: #5230A2;
}

.loan-amount-slider__start,
.loan-amount-slider__end,
.loan-term-slider__start,
.loan-term-slider__end {
  color: #A7B4C0;
}

.loan-amount-slider__value,
.loan-term-slider__value  {
  color: #254254;
  font-family: TypoGrosteskBoldDemo;
}

/* Auto Refinance section */
.auto-refinance-section {
  background: #F9F8FB;
}

.auto-refinance__product h4 {
  color: #200A52;
  font-family: TypoGrosteskBoldDemo;
}

.auto-refinance__product p {
  color: #4F5154;
}

.auto-refinance__product a {
  color: #44E0B7;
}


@media only screen and (min-width: 768px) {
  .auto-refinance-section {
    background: #ffffff;
  }
}

/* Auto Approve section */
.auto-approve__reason h4 {
  color: #232529;
  font-family: TypoGrosteskBoldDemo;
}

.auto-approve__reason p {
  color: #4F5154;
}

/* Testimonial section */
.testimonial-section h2 {
  color: #ffffff;
}

/* Resources section */
.resources-section {
  background: #F9F8FB;
}

.resources-section__resources > div:nth-of-type(1) {
  background-image: url(../../static/imgs/resource-1.png);
}

.resources-section__resources > div:nth-of-type(2) {
  background-image: url(../../static/imgs/resource-3.png);
}

.resources-section__resources > div:nth-of-type(3) {
  background-image: url(../../static/imgs/resource-3.png);
}

.resources-section__resource {
  min-height: 324px;
}

/* Footer Section */
.footer-section {
  background: #200A52;
}

.footer-links {
  border-color: rgb(211 211 211 / 10%);
}

.footer-links h6 {
  color: white;
  font-family: TypoGrosteskBoldDemo;
}

.footer-links nav a {
  color: #ffffff;
}
