/* Variables */
$theme-color: #5230A2;
$theme-color2: #6948B7;
$theme-color3: #808080;
$theme-color4: #A7B4C0;
$theme-color5: #898A8D;
$theme-color6: #4F5154;
$theme-color7: #254254;
$theme-color8: #232529;
$theme-color9: #F9F8FB;
$theme-color10: #200A52;
$theme-color11: #140539;
$theme-color12: #44E0B7;
$white-color: #ffffff;
$black-color: #000000;

/* Typography */
@font-face {
  font-family: TypoGrosteskDemo;
  src: url(../fonts/TypoGroteskDemo.otf) format('opentype');
  font-weight:400;
  font-style:normal
}

@font-face{
  font-family: TypoGrosteskBoldDemo;
  src: url(../fonts/TypoGroteskBoldDemo.otf) format('opentype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: TypoGrosteskDemo;
}

.font-typo-grotesk-b {
  font-family: TypoGrosteskBoldDemo;
}

/* Buttons Component */
.primary-btn,
.green-btn {
  @apply not-italic font-bold text-base leading-8 rounded-3xl transition-opacity duration-300 ease-in-out py-2 px-8 no-underline shadow-none;
}

.primary-btn {
  @apply text-color-white bg-color-theme;
}

.green-btn {
  @apply text-color-black bg-color-theme-12;
}

.primary-btn:hover,
.primary-btn:focus,
.green-btn:hover,
.green-btn:focus {
  @apply opacity-90 outline-none;
}

/* Input component */
.input-container label {
  @apply text-color-theme;
}

.input-container > div {
  @apply bg-color-white;
}

.input-container > div span:last-child {
  @apply text-color-theme-3;
}

/* Input with icon component */
.input-subscribe {
  @apply bg-color-theme-11 h-12 max-w-sm w-full;
}

.input-subscribe input {
  @apply h-12 text-color-white bg-color-theme-11;
}

/* Hero Section */
.hero-motorcycle-img {
  bottom: 18%;
  left: 0;
}

.hero-car-img {
  max-width: 80%;
}

.hero-vector-46 {
  top: 77%;
  width: 68%;
}

.hero-vector-49 {
  top: 83%;
  right: 0;
}

.hero-vector-38 {
  bottom: 350px;
  left: 20%;
  width: 100px;
}

.hero-vector-40 {
  bottom: 42%;
  left: 20%;
}
.hero-vector-50 {
  bottom: 80%;
  left: 18%;
}

.hero-vector-37 {
  bottom: 75%;
  right: 18%;
}
.hero-vector-39 {
  bottom: 330px;
  right: 8%;
  width: 100px;
}

.hero-vector-54,
.hero-vector-53,
.hero-vector-41,
.hero-vector-52,
.hero-vector-55,
.hero-vector-45 {
  bottom: 260px;
}

.hero-vector-54 {
  left: 0;
}

.hero-vector-53 {
  left: 2%;
}

.hero-vector-41 {
  left: 23%;
}

.hero-vector-52 {
  left: calc(64% - 5px);
}

.hero-vector-45 {
  right: 20px;
}

@media only screen and (min-width: 768px) {
  .hero-car-img {
    right: 10%;
    top: 56%;
    max-width: 100%;
  }

  .hero-vector-46 {
    top: 83%;
    width: 68%;
  }

  .hero-vector-38 {
    bottom: 60%;
    left: 0;
    width: auto;
  }

  .hero-vector-39 {
    bottom: 44%;
    right: 7%;
  }
}

/* Resources section */
.resources-section__resources > div:nth-of-type(1) {
  background-image: url(../../static/imgs/resource-1.png);
}

.resources-section__resources > div:nth-of-type(2) {
  background-image: url(../../static/imgs/resource-3.png);
}

.resources-section__resources > div:nth-of-type(3) {
  background-image: url(../../static/imgs/resource-3.png);
}

.resources-section__resource {
  min-height: 324px;
}
